swagger: "2.0"
info:
  description: "This is the API for the podcast recommender app. The API used to get all data is Listen Notes (https://www.listennotes.com/api/)"
  version: "1.0.0"
  title: "Podcast Recommender app"
  contact:
    email: "joren.sjongers@icloud.com"
schemes: [http]
host: "picasso.experiments.cs.kuleuven.be:3955"
paths:
  test:
    get:
      summary: "used to test whether the backend is running."
      description: "returns 'Hello World'"
      operationId: "test"
      produces:
        - "text/plain"
      responses:
        "200":
          description: "succesful operation"
          schema:
            type: "string"
            example: "Hello World"
  podcast:
    get:
      summary: "used to get the details of a podcast."
      description: "returns the details of a podcast."
      operationId: "GetPodcast"
      produces:
        - "application/json"
      parameters:
        - name: "id"
          in: "query"
          description: "The id of the podcast."
          required: true
          type: "string"
      responses:
        "200":
          description: "succesful operation"
          schema:
            $ref: "#/definitions/PodcastFull"
        "400":
          description: "bad request"
  episode:
    get:
      summary: "used to get the details of an episode"
      description: "returns the details of the podcast episode with the given episode id"
      operationId: "getEpisode"
      produces:
       - "application/json"
      parameters:
       - name: "id"
         in: "query"
         description: "the is of the episode"
         required: true
         type: "string"
      responses:
        "200":
          description: "succesful operation"
          schema:
            $ref: "#/definitions/EpisodeFull"
        "400":
          description: "bad request"
        "500":
          description: "internal server error"
  search:
    get:
      summary: "Used to get the search results based on the given search parameters."
      description: "Returns the search results based on the given search parameters."
      operationId: "GetSearchResults"
      produces: 
        - "application/json"
      parameters:
        - name: "queryString"
          in: "query"
          description: "the string representing the search query"
          required: true
          type: "string"
        - name: "searchField"
          in: "query"
          required: true
          type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SearchResult"
  get-recommendations-based-on/podcast:
    get:
      summary: "Fetch recommendations for a podcast"
      description: "Fetch up to 8 podcast recommendations based on the given podcast id."
      operationId: "getPodcastRecommendationsBasedOnPodcast"
      produces: 
        - "application/json"
      parameters:
      - name: "id"
        in: "query"
        description: "The id of the show."
        required: true
        type: "string"
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GetPodcastRecommendationsResponse'
  get-recommendations-based-on/episode:
    get:
      summary: "Fetch recommendations based on an episode."
      description: "Fetch recommendations based on the given episode id."
      operationId: "getEpisodeRecommendationsBasedOnEpisode"
      produces:
        - "application/json"
      parameters:
      - name: "id"
        in: "query"
        description: "The id of the episode."
        required: true
        type: "string"
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GetEpisodeRecommendationsResponse'
  get-best-podcasts:
    get:
      summary: "Fetch the best podcasts."
      description: "Returns the best podcasts."
      operationId: "GetTheBestPodcasts"
      produces:
        - "application/json"
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/BestPodcastsResponse'
  best-of-genre:
    get:
      summary: "Used to get the best podcast from a given genre."
      description: "Returns a list of podcast shows that belong to the given genre id, ranked by popularity."
      operationId: "GetBestOfGenre"
      produces:
        - "application/json"
      parameters:
        - name: "genreId"
          in: "query"
          description: "the id of the genre to fetch podcast shows by"
          required: true
          type: "string"
      responses:
        "200": 
          description: "succesful operation"
          schema:
            $ref: "#/definitions/BestPodcastsResponse"
        "400":
          description: "bad request"
        "500":
          description: "internal server error"
  top-level-genres:
    get:
      summary: "Used to get a list of all top-level podcast genres"
      description: "Returns a list of all top-level podcast genres (this contains their name and id)"
      operationId: "GetTopLevelGenres"
      produces:
        - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/GetGenresResponse"
  genres:
    get:
      summary: "Used to get a list of all podcast genres"
      description: "Returns a list of all podcast genres (this contains their name and id)"
      operationId: "GetGenres"
      produces:
        - "application/json"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/GetGenresResponse"

  get-unique-id:
    get:
      summary:  "Used to get a string to identify a user"
      description: "Returns a string that uniquely identifies a user. This string is required for logging."
      operationId: "GetUniqueId"
      produces:
        - "text/plain"
      responses: 
        "200":
          description: "succesful operation"
          example: "EEADSISCHIQI"
          
  log-timing-result:
    post:
      summary: "start logging time for a user"
      consumes: 
        - "text/plain"
      parameters:
        - in: body
          name: timingResult
          description: The timingresult to be logged for this user.
          schema:
            $ref: '#/definitions/TimingResult'
          
      responses:
        "201": 
          description: Started timing
        "400": 
          description: Bad request
    
  timing-results:
    get:
      summary: "Get the results of time logging"
      description: "Get the results as were gathered by the logging system"
      operationId: "getTimingResults"
      produces:
        - application/json
      responses:
        "200":
          description: succesful operation
          schema:
            $ref: '#/definitions/TimingResults'

definitions:
  PodcastFull:
    type: "object"
    required:
     - genre_ids
    properties:
      id:
        type: string
        example: 4d3fe717742d4963a85562e9f84d8c79
        description: Podcast id.
      rss:
        type: string
        example: https://sw7x7.libsyn.com/rss
        description: RSS url of this podcast. This field is available only in the PRO plan.
      type:
        enum:
          - episodic
          - serial
        type: string
        example: episodic
        description: The type of this podcast - episodic or serial.
      email:
        type: string
        example: hello@example.com
        description: The email of this podcast's producer. This field is available only
          in the PRO plan.
      extra:
        $ref: '#/definitions/PodcastExtraField'
      image:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
        description:
          Image url for this podcast's artwork. If you are using PRO plan, then it's
          a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
          low resolution image (300x300).
      title:
        type: string
        example: Star Wars 7x7 | Star Wars News, Interviews, and More!
        description: Podcast name.
      country:
        type: string
        example: United States
        description: The country where this podcast is produced.
      website:
        type: string
        example: http://sw7x7.com/
        description: Website url of this podcast.
      episodes:
        type: array
        items:
          $ref: '#/definitions/EpisodeMinimum'
      language:
        type: string
        example: English
        description: The language of this podcast. You can get all supported languages from
          `GET /languages`.
      genre_ids:
        type: array
        items:
          type: integer
          description: Genre ids.
        example:
          - 138
          - 86
          - 160
          - 68
          - 82
          - 100
          - 101
      itunes_id:
        type: integer
        example: 896354638
        description: iTunes id for this podcast.
      publisher:
        type: string
        example: Planet Broadcasting
        description: Podcast publisher name.
      thumbnail:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
        description: Thumbnail image url for this podcast's artwork (300x300).
      is_claimed:
        type: boolean
        example: true
        description: Whether this podcast is claimed by its producer on [ListenNotes.com](https://www.ListenNotes.com).
      description:
        type: string
        example: "<p>The Star Wars 7x7 Podcast is Rebel-rousing fun for everyday Jedi, between
          7 and 14 minutes a day, 7 days a week. Join host Allen Voivod for Star Wars news,
          history, interviews, trivia, and deep dives into the Star Wars story as told in
          movies, books, comics, games, cartoons, and more. Subscribe now for your daily
          dose of Star Wars joy. It's destiny unleashed!</p>"
        description: Html of this episode's full description
      looking_for:
        $ref: '#/definitions/PodcastLookingForField'
      total_episodes:
        type: integer
        example: 324
        description: Total number of episodes in this podcast.
      listennotes_url:
        type: string
        example: https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/
        description: The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).
      explicit_content:
        type: boolean
        example: false
        description: Whether this podcast contains explicit language.
      latest_pub_date_ms:
        type: integer
        format: int64
        example: 1557499770000
        description: The published date of the latest episode of this podcast. In milliseconds
      earliest_pub_date_ms:
        type: integer
        format: int64
        example: 1470667902000
        description: The published date of the oldest episode of this podcast. In milliseconds
      next_episode_pub_date:
        type: integer
        example: 1470667902000
        description: Passed to the **next_episode_pub_date** parameter of `GET /podcasts/{id}`
          to paginate through episodes of that podcast.
  PodcastSimple:
    type: object
    required: 
     - genre_ids
    properties:
      id:
        type: string
        example: 4d3fe717742d4963a85562e9f84d8c79
        description: Podcast id.
      rss:
        type: string
        example: https://sw7x7.libsyn.com/rss
        description: RSS url of this podcast. This field is available only in the PRO
          plan.
      type:
        enum:
        - episodic
        - serial
        type: string
        example: episodic
        description: The type of this podcast - episodic or serial.
      email:
        type: string
        example: hello@example.com
        description: The email of this podcast's producer. This field is available only
          in the PRO plan.
      extra:
        $ref: '#/definitions/PodcastExtraField'
      image:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
        description: |
          Image url for this podcast's artwork. If you are using PRO plan, then it's
          a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
          low resolution image (300x300).
      title:
        type: string
        example: Star Wars 7x7 | Star Wars News, Interviews, and More!
        description: Podcast name.
      country:
        type: string
        example: United States
        description: The country where this podcast is produced.
      website:
        type: string
        example: http://sw7x7.com/
        description: Website url of this podcast.
      language:
        type: string
        example: English
        description: The language of this podcast. You can get all supported languages
          from `GET /languages`.
      genre_ids:
        type: array
        items:
          type: integer
          description: Genre ids.
        example:
        - 138
        - 86
        - 160
        - 68
        - 82
        - 100
        - 101
      itunes_id:
        type: integer
        example: 896354638
        description: iTunes id for this podcast.
      publisher:
        type: string
        example: Planet Broadcasting
        description: Podcast publisher name.
      thumbnail:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
        description: Thumbnail image url for this podcast's artwork (300x300).
      is_claimed:
        type: boolean
        example: true
        description: Whether this podcast is claimed by its producer on [ListenNotes.com](https://www.ListenNotes.com).
      description:
        type: string
        example: "<p>The Star Wars 7x7 Podcast is Rebel-rousing fun for everyday Jedi,
          between 7 and 14 minutes a day, 7 days a week. Join host Allen Voivod for Star
          Wars news, history, interviews, trivia, and deep dives into the Star Wars story
          as told in movies, books, comics, games, cartoons, and more. Subscribe now for
          your daily dose of Star Wars joy. It's destiny unleashed!</p>"
        description: Html of this episode's full description
      looking_for:
        $ref: '#/definitions/PodcastLookingForField'
      total_episodes:
        type: integer
        example: 324
        description: Total number of episodes in this podcast.
      listennotes_url:
        type: string
        example: https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/
        description: The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).
      explicit_content:
        type: boolean
        example: false
        description: Whether this podcast contains explicit language.
      latest_pub_date_ms:
        type: integer
        format: int64
        example: 1557499770000
        description: The published date of the latest episode of this podcast. In milliseconds
      earliest_pub_date_ms:
        type: integer
        format: int64
        example: 1470667902000
        description: The published date of the oldest episode of this podcast. In milliseconds
  PodcastMinimum:
    type: object
    properties:
      id:
        type: string
        example: 4d3fe717742d4963a85562e9f84d8c79
        description: Podcast id.
      image:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
        description: |
          Image url for this podcast's artwork. If you are using PRO plan, then it's
          a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
          low resolution image (300x300).
      title:
        type: string
        example: Star Wars 7x7 | Star Wars News, Interviews, and More!
        description: Podcast name.
      publisher:
        type: string
        example: Planet Broadcasting
        description: Podcast publisher name.
      thumbnail:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
        description: Thumbnail image url for this podcast's artwork (300x300).
      listennotes_url:
        type: string
        example: https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/
        description: The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).
  EpisodeFull:
    type: object
    properties:
      id:
        type: string
        example: 4d82e50314174754a3b603912448e812
        description: Episode id.
      link:
        type: string
        example: https://www.npr.org/2020/01/22/798532179/soleimanis-iran
        description: Web link of this episode.
      audio:
        type: string
        example: https://www.listennotes.com/e/p/11b34041e804491b9704d11f283c74de/
        description: Audio url of this episode, which can be played directly.
      image:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
        description: |
          Image url for this episode.
          If an episode doesn't have its own image, then this field would be the url of the podcast artwork image.
          If you are using PRO plan, then it's
          a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
          low resolution image (300x300).
      title:
        type: string
        example: 'Celebration Recap, Jason Fry and Christian Blauvelt Interviews – SWBW
          #101'
        description: Episode name.
      podcast:
        $ref: '#/definitions/PodcastSimple'
      thumbnail:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
        description: |
          Thumbnail image (300x300) url for this episode.
          If an episode doesn't have its own image, then this field would be the url of the podcast artwork thumbnail image.
      description:
        type: string
        example: '<p>Disney chief Bob Iger shared news about Star Wars movies in 2020 and
          beyond, but some media outlets gave conflicting reports about it. Here''s the
          real scoop. Punch it!</p> <p>***We’re listener supported! Go to http://Patreon.com/sw7x7
          to donate to the Star Wars 7x7 podcast, and you’ll get some fabulous rewards for
          your pledge.*** </p> <p>Check out SW7x7.com for full Star Wars 7x7 show notes
          and links, and to comment on any of the content of this episode! If you like what
          you''ve heard, please leave us a rating or review on iTunes or Stitcher, which
          will also help more people discover this Star Wars podcast.</p> <p>Don''t forget
          to join the Star Wars 7x7 fun on Facebook at Facebook.com/SW7x7, and follow the
          breaking news Twitter feed at Twitter.com/SW7x7Podcast. We''re also on Pinterest
          and Instagram as "SW7x7" too, and we''d love to connect with you there!</p>
      
      '
        description: Html of this episode's full description
      pub_date_ms:
        type: integer
        format: int64
        example: 1474873200000
        description: Published date for this episode. In millisecond.
      listennotes_url:
        type: string
        example: https://www.listennotes.com/e/4d82e50314174754a3b603912448e812/
        description: The url of this episode on [ListenNotes.com](https://www.ListenNotes.com).
      audio_length_sec:
        type: integer
        example: 567
        description: Audio length of this episode. In seconds.
      explicit_content:
        type: boolean
        example: false
        description: Whether this podcast contains explicit language.
      maybe_audio_invalid:
        type: boolean
        example: false
        description: Whether or not this episode's audio is invalid. Podcasters may delete
          the original audio.
      listennotes_edit_url:
        type: string
        example: https://www.listennotes.com/e/11b34041e804491b9704d11f283c74de/#edit
        description: Edit url of this episode where you can update the audio url if you
          find the audio is broken.
  EpisodeSimple:
    type: object
    properties:
      id:
        type: string
        example: 4d82e50314174754a3b603912448e812
        description: Episode id.
      link:
        type: string
        example: https://www.npr.org/2020/01/22/798532179/soleimanis-iran
        description: Web link of this episode.
      audio:
        type: string
        example: https://www.listennotes.com/e/p/11b34041e804491b9704d11f283c74de/
        description: Audio url of this episode, which can be played directly.
      image:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
        description: |
          Image url for this episode.
          If an episode doesn't have its own image, then this field would be the url of the podcast artwork image.
          If you are using PRO plan, then it's
          a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
          low resolution image (300x300).
      title:
        type: string
        example: 'Celebration Recap, Jason Fry and Christian Blauvelt Interviews – SWBW
          #101'
        description: Episode name.
      podcast:
        $ref: '#/definitions/PodcastMinimum'
      thumbnail:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
        description: |
          Thumbnail image (300x300) url for this episode.
          If an episode doesn't have its own image, then this field would be the url of the podcast artwork thumbnail image.
      description:
        type: string
        example: '<p>Disney chief Bob Iger shared news about Star Wars movies in 2020 and
          beyond, but some media outlets gave conflicting reports about it. Here''s the
          real scoop. Punch it!</p> <p>***We’re listener supported! Go to http://Patreon.com/sw7x7
          to donate to the Star Wars 7x7 podcast, and you’ll get some fabulous rewards for
          your pledge.*** </p> <p>Check out SW7x7.com for full Star Wars 7x7 show notes
          and links, and to comment on any of the content of this episode! If you like what
          you''ve heard, please leave us a rating or review on iTunes or Stitcher, which
          will also help more people discover this Star Wars podcast.</p> <p>Don''t forget
          to join the Star Wars 7x7 fun on Facebook at Facebook.com/SW7x7, and follow the
          breaking news Twitter feed at Twitter.com/SW7x7Podcast. We''re also on Pinterest
          and Instagram as "SW7x7" too, and we''d love to connect with you there!</p>
      
      '
        description: Html of this episode's full description
      pub_date_ms:
        type: integer
        format: int64
        example: 1474873200000
        description: Published date for this episode. In millisecond.
      listennotes_url:
        type: string
        example: https://www.listennotes.com/e/4d82e50314174754a3b603912448e812/
        description: The url of this episode on [ListenNotes.com](https://www.ListenNotes.com).
      audio_length_sec:
        type: integer
        example: 567
        description: Audio length of this episode. In seconds.
      explicit_content:
        type: boolean
        example: false
        description: Whether this podcast contains explicit language.
      maybe_audio_invalid:
        type: boolean
        example: false
        description: Whether or not this episode's audio is invalid. Podcasters may delete
          the original audio.
      listennotes_edit_url:
        type: string
        example: https://www.listennotes.com/e/11b34041e804491b9704d11f283c74de/#edit
        description: Edit url of this episode where you can update the audio url if you
          find the audio is broken.
  EpisodeMinimum:
    type: object
    properties:
      id:
        type: string
        example: 4d82e50314174754a3b603912448e812
        description: Episode id.
      link:
        type: string
        example: https://www.npr.org/2020/01/22/798532179/soleimanis-iran
        description: Web link of this episode.
      audio:
        type: string
        example: https://www.listennotes.com/e/p/11b34041e804491b9704d11f283c74de/
        description: Audio url of this episode, which can be played directly.
      image:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
        description: |
          Image url for this podcast's artwork. If you are using PRO plan, then it's
          a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
          low resolution image (300x300).
      title:
        type: string
        example: 'Celebration Recap, Jason Fry and Christian Blauvelt Interviews – SWBW
          #101'
        description: Episode name.
      thumbnail:
        type: string
        example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
        description: Thumbnail image url for this podcast's artwork (300x300).
      description:
        type: string
        example: '<p>Disney chief Bob Iger shared news about Star Wars movies in 2020
          and beyond, but some media outlets gave conflicting reports about it. Here''s
          the real scoop. Punch it!</p> <p>***We’re listener supported! Go to http://Patreon.com/sw7x7
          to donate to the Star Wars 7x7 podcast, and you’ll get some fabulous rewards
          for your pledge.*** </p> <p>Check out SW7x7.com for full Star Wars 7x7 show
          notes and links, and to comment on any of the content of this episode! If you
          like what you''ve heard, please leave us a rating or review on iTunes or Stitcher,
          which will also help more people discover this Star Wars podcast.</p> <p>Don''t
          forget to join the Star Wars 7x7 fun on Facebook at Facebook.com/SW7x7, and
          follow the breaking news Twitter feed at Twitter.com/SW7x7Podcast. We''re also
          on Pinterest and Instagram as "SW7x7" too, and we''d love to connect with you
          there!</p>
    
    '
        description: Html of this episode's full description
      pub_date_ms:
        type: integer
        format: int64
        example: 1474873200000
        description: Published date for this episode. In millisecond.
      listennotes_url:
        type: string
        example: https://www.listennotes.com/e/4d82e50314174754a3b603912448e812/
        description: The url of this episode on [ListenNotes.com](https://www.ListenNotes.com).
      audio_length_sec:
        type: integer
        example: 567
        description: Audio length of this episode. In seconds.
      explicit_content:
        type: boolean
        example: false
        description: Whether this podcast contains explicit language.
      maybe_audio_invalid:
        type: boolean
        example: false
        description: Whether or not this episode's audio is invalid. Podcasters may delete
          the original audio.
      listennotes_edit_url:
        type: string
        example: https://www.listennotes.com/e/11b34041e804491b9704d11f283c74de/#edit
        description: Edit url of this episode where you can update the audio url if you
          find the audio is broken.
  BestPodcastsResponse:
    required:
    - has_next
    - has_previous
    - id
    - listennotes_url
    - name
    - next_page_number
    - page_number
    - parent_id
    - podcasts
    - previous_page_number
    - total
    type: object
    properties:
      has_previous:
        type: boolean
      name:
        type: string
        description: This genre's name.
        example: Business News
      listennotes_url:
        type: string
        description: Url of the list of best podcasts on [ListenNotes.com](https://www.ListenNotes.com).
        example: https://www.listennotes.com/best-business-news-podcasts-95/
      previous_page_number:
        type: integer
        example: 1
      page_number:
        type: integer
        example: 2
      has_next:
        type: boolean
        example: true
      next_page_number:
        type: integer
        example: 3
      parent_id:
        type: integer
        description: The id of parent genre.
        example: 93
      id:
        type: integer
        description: The id of this genre
        example: 95
      total:
        type: integer
        example: 325
      podcasts:
        type: array
        items:
          $ref: '#/definitions/PodcastSimple'
  GetGenresResponse:
    required:
    - genres
    type: object
    properties:
      genres:
        type: array
        items:
          $ref: '#/definitions/Genre'
  Genre:
    type: object
    properties:
      id:
        type: integer
        description: Genre id
        example: 93
      name:
        type: string
        description: Genre name.
        example: Business
      parent_id:
        type: integer
        description: Parent genre id.
        example: 95
    example:
      id: 140
      parent_id: 127
      name: Web Design

  SearchResult:
    type: object
    properties:
      next_offset:
        type: integer
        description: Pass this value to the **offset** parameter to do pagination of search results.
        example: 10
      took:
        type: number
        description: The time it took to fetch these search results. In seconds.
        example: 0.093
      total:
        type: integer
        description: The total number of search results.
        example: 1989
      count:
        type: integer
        description: The number of search results in this page.
        example: 10
      episoderesults:
        type: array
        description: "A list of search results for episodes."
        items: 
          $ref: '#/definitions/EpisodeSearchResult'
      podcastresults:
        type: array
        description: "A list of search results for podcasts."
        items:
          $ref: '#/definitions/PodcastSearchResult'
  EpisodeSearchResult:
      type: object
      properties:
        id:
          type: string
          example: 4d82e50314174754a3b603912448e812
          description: Episode id.
        rss:
          type: string
          example: https://sw7x7.libsyn.com/rss
          description: RSS url of this podcast. This field is available only in the PRO
            plan.
        link:
          type: string
          example: https://www.npr.org/2020/01/22/798532179/soleimanis-iran
          description: Web link of this episode.
        audio:
          type: string
          example: https://www.listennotes.com/e/p/11b34041e804491b9704d11f283c74de/
          description: Audio url of this episode, which can be played directly.
        image:
          type: string
          example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
          description: |
            Image url for this episode.
            If an episode doesn't have its own image, then this field would be the url of the podcast artwork image.
            If you are using PRO plan, then it's
            a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
            low resolution image (300x300).
        podcast:
          type: object
          required:
            - genre_ids
          properties:
            id:
              type: string
              example: 4d3fe717742d4963a85562e9f84d8c79
              description: Podcast id.
            image:
              type: string
              example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
              description: |
                Image url for this podcast's artwork. If you are using PRO plan, then it's
                a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
                low resolution image (300x300).
            genre_ids:
              type: array
              items:
                type: integer
                description: Genre ids.
              example:
              - 138
              - 86
              - 160
              - 68
              - 82
              - 100
              - 101
            thumbnail:
              type: string
              example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
              description: Thumbnail image url for this podcast's artwork (300x300).
            listen_score:
              type: integer
              example: 81
              description: |
                The estimated popularity score of a podcast compared to all other rss-based public podcasts in the world on a scale from 0 to 100.
                If the score is not available, it'll be null. Learn more at listennotes.com/listen-score
            title_original:
              type: string
              example: Star Wars 7x7 | Star Wars News, Interviews, and More!
              description: Plain text of podcast name.
            listennotes_url:
              type: string
              example: https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/
              description: The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).
            title_highlighted:
              type: string
              example: <span class=\"ln-search-highlight\">Star</span> <span class=\"ln-search-highlight\">Wars</span>
                7x7 | <span class=\"ln-search-highlight\">Star</span> <span class=\"ln-search-highlight\">Wars</span>
                News, Interviews, and More!
              description: Highlighted segment of podcast name.
            publisher_original:
              type: string
              example: Star Wars Daily, by Allen Voivod
              description: Plain text of this podcast's publisher name.
            publisher_highlighted:
              type: string
              example: <span class=\"ln-search-highlight\">Star</span> <span class=\"ln-search-highlight\">Wars</span>
                Daily, by Allen Voivod
              description: Highlighted segment of this podcast's publisher name.
          description: The podcast that this episode belongs to.
        itunes_id:
          type: integer
          example: 896354638
          description: iTunes id for this podcast.
        thumbnail:
          type: string
          example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
          description: |
            Thumbnail image (300x300) url for this episode.
            If an episode doesn't have its own image, then this field would be the url of the podcast artwork thumbnail image.
        pub_date_ms:
          type: integer
          format: int64
          example: 1474873200000
          description: Published date for this episode. In millisecond.
        title_original:
          type: string
          example: '815: Star Wars 2020 Movie and Beyond!'
          description: Plain text of this episode' title
        listennotes_url:
          type: string
          example: https://www.listennotes.com/e/4d82e50314174754a3b603912448e812/
          description: The url of this episode on [ListenNotes.com](https://www.ListenNotes.com).
        audio_length_sec:
          type: integer
          example: 567
          description: Audio length of this episode. In seconds.
        explicit_content:
          type: boolean
          example: false
          description: Whether this podcast contains explicit language.
        title_highlighted:
          type: string
          example: '815: <span class="ln-search-highlight">Star</span> <span class="ln-search-highlight">Wars</span>
            2020 Movie and Beyond!'
          description: Highlighted segment of this episode's title
        description_original:
          type: string
          example: 'Yeah, Star Wars Celebration Orlando is 32 days away, but what''s the
            scoop on Celebration 2018? Plus, Rebels Day is Saturday, and much more in our
            update. Punch it! ***We''re listener supported! Go to http://Patreon.com/sw7x7
            to donate to the Star Wars 7x7 podcast, and youâ€™ll get some fabulous rewards
            for your pledge.***  Check out SW7x7.com for full Star Wars 7x7 show notes and
            links, and to comment on any of the content of this episode! If you like what
            you''ve heard, please leave us a rating or review on iTunes or Stitcher, which
            will also help more people discover this Star Wars podcast. Don''t forget to
            join the Star Wars 7x7 fun on Facebook at Facebook.com/SW7x7, and follow the
            breaking news Twitter feed at Twitter.com/SW7x7Podcast. We''re also on Pinterest
            and Instagram as "SW7x7" too, and we''d love to connect with you there!
      
      '
          description: Plain text of this episode's description
        description_highlighted:
          type: string
          example: '...Go to http://Patreon.com/sw7x7 to donate to the <span class="ln-search-highlight">Star</span>
            <span class="ln-search-highlight">Wars</span> 7x7 podcast, and you''ll get some
            fabulous rewards for your pledge.***  Check out SW7x7.com for full <span class="ln-search-highlight">Star</span>
            <span class="ln-search-highlight">Wars</span> 7x7 show notes and links, and
            to
      
      '
          description: Highlighted segment of this episode's description
  PodcastSearchResult:
      type: object
      required:
        - genre_ids
      properties:
        id:
          type: string
          example: 4d3fe717742d4963a85562e9f84d8c79
          description: Podcast id.
        rss:
          type: string
          example: https://sw7x7.libsyn.com/rss
          description: RSS url of this podcast. This field is available only in the PRO
            plan.
        email:
          type: string
          example: hello@example.com
          description: The email of this podcast's producer. This field is available only
            in the PRO plan.
        image:
          type: string
          example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg
          description: |
            Image url for this podcast's artwork. If you are using PRO plan, then it's
            a high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,
            low resolution image (300x300).
        website:
          type: string
          example: http://sw7x7.com/
          description: Website url of this podcast.
        genre_ids:
          type: array
          items:
            type: integer
            description: Genre ids.
          example:
          - 138
          - 86
          - 160
          - 68
          - 82
          - 100
          - 101
        itunes_id:
          type: integer
          example: 896354638
          description: iTunes id for this podcast.
        thumbnail:
          type: string
          example: https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg
          description: Thumbnail image url for this podcast's artwork (300x300).
        listen_score:
          type: integer
          example: 81
          description: |
            The estimated popularity score of a podcast compared to all other rss-based public podcasts in the world on a scale from 0 to 100.
            If the score is not available, it'll be null. Learn more at listennotes.com/listen-score
        title_original:
          type: string
          example: Star Wars 7x7 | Star Wars News, Interviews, and More!
          description: Plain text of podcast name.
        total_episodes:
          type: integer
          example: 324
          description: Total number of episodes in this podcast.
        listennotes_url:
          type: string
          example: https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/
          description: The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).
        explicit_content:
          type: boolean
          example: false
          description: Whether this podcast contains explicit language.
        title_highlighted:
          type: string
          example: <span class=\"ln-search-highlight\">Star</span> <span class=\"ln-search-highlight\">Wars</span>
            7x7 | <span class=\"ln-search-highlight\">Star</span> <span class=\"ln-search-highlight\">Wars</span>
            News, Interviews, and More!
          description: Highlighted segment of podcast name.
        latest_pub_date_ms:
          type: integer
          format: int64
          example: 1557499770000
          description: The published date of the latest episode of this podcast. In milliseconds
        publisher_original:
          type: string
          example: Star Wars Daily, by Allen Voivod
          description: Plain text of this podcast's publisher name.
        description_original:
          type: string
          example: 'The Star Wars 7x7 Podcast is Rebel-rousing fun for everyday Jedi, between
            7 and 14 minutes a day, 7 days a week. Join host Allen Voivod for Star Wars
            news, history, interviews, trivia, and deep dives into the Star Wars story as
            told in movies, books, comics, games, cartoons, and more. Subscribe now for
            your daily dose of Star Wars joy. It''s destiny unleashed! #SW7x7
      
      '
          description: Plain text of podcast description
        earliest_pub_date_ms:
          type: integer
          format: int64
          example: 1470667902000
          description: The published date of the oldest episode of this podcast. In milliseconds
        publisher_highlighted:
          type: string
          example: <span class=\"ln-search-highlight\">Star</span> <span class=\"ln-search-highlight\">Wars</span>
            Daily, by Allen Voivod
          description: Highlighted segment of this podcast's publisher name.
        description_highlighted:
          type: string
          example: '...Join host Allen Voivod for <span class="ln-search-highlight">Star</span>
            <span class="ln-search-highlight">Wars</span> news, history, interviews, trivia,
            and deep dives into the <span class="ln-search-highlight">Star</span> <span
            class="ln-search-highlight">Wars</span> story as told in movies, books, comics,
            games, cartoons, and more.
      
      '
          description: Highlighted segment of podcast description
      description: When **type** is *podcast*.

  GetPodcastRecommendationsResponse:
      required:
      - recommendations
      type: object
      properties:
        recommendations:
          type: array
          items:
            $ref: '#/definitions/PodcastSimple'
  GetEpisodeRecommendationsResponse:
    required:
    - recommendations
    type: object
    properties:
      recommendations:
        type: array
        items:
          $ref: '#/definitions/EpisodeSimple'

  PodcastLookingForField:
      type: object
      properties:
        cohosts:
          type: boolean
          description: Whether this podcast is looking for cohosts.
          example: true
        cross_promotion:
          type: boolean
          description: Whether this podcast is looking for cross promotion opportunities with other podcasts.
          example: true
        sponsors:
          type: boolean
          description: Whether this podcast is looking for sponsors.
          example: true
        guests:
          type: boolean
          description: Whether this podcast is looking for guests.
          example: true
  PodcastExtraField:
      type: object
      properties:
        youtube_url:
          type: string
          description: YouTube url affiliated with this podcast
          example: https://www.youtube.com/sw7x7
        facebook_handle:
          type: string
          description: Facebook username affiliated with this podcast
          example: sw7x7
        instagram_handle:
          type: string
          description: Instagram username affiliated with this podcast
          example: sw7x7
        twitter_handle:
          type: string
          description: Twitter username affiliated with this podcast
          example: SW7x7podcast
        wechat_handle:
          type: string
          description: WeChat username affiliated with this podcast
        patreon_handle:
          type: string
          description: Patreon username affiliated with this podcast
          example: sw7x7
        google_url:
          type: string
          description: Google Podcasts url for this podcast
          example: https://play.google.com/music/listen?u=0#/ps/I7gdcrqcmvhfnhh2cyqkcg32tkq
        linkedin_url:
          type: string
          description: LinkedIn url affiliated with this podcast
        spotify_url:
          type: string
          description: Spotify url for this podcast
          example: https://open.spotify.com/show/2rQJUP9Y3HxemiW3JHt9WV
        url1:
          type: string
          description: Url affiliated with this podcast
        url2:
          type: string
          description: Url affiliated with this podcast
        url3:
          type: string
          description: Url affiliated with this podcast
  
  TimingResult:
    type: object
    required:
      - user_id
      - app_version
      - time
      - action
      - view
    properties:
      session_id:
        type: string
        description: the unique identifier of this user
      app_version:
        type: string
        enum:
          - without_feed
          - with_feed
        description: the version of the app that this user uses
      time:
        type: integer
        description: the time (in seconds) between the user staring op the app and playing/queueing an episode
      action:
        type: string
        enum:
          - play
          - queue
        description: The action this user takes to end the logging of time. Either playing an episode or adding it to the queue.
      primary_view:
        type: string
        enum:
          - feed
          - search
          - liked
        description: The primary view from which the user has carried out the action to stop logging the time.
      secondary_view:
        type: string
        enum:
          - root
          - podcast_details
          - genre_details
          - more_like_this
     
  TimingResults:   
    type: object
    properties:
      datetime: 
        type: string
        description: The date and time when these logging results were produced.
      data:
        type: array
        description: The logging data
        items: 
          type: object
          properties:
            datetime: 
              type: string
              description: The date and time this logging record was received.
            result: 
              $ref: '#/definitions/TimingResult'
      
